* {
  box-sizing: border-box;
}

/* color variables */
:root {
  --mainblue: rgb(19, 48, 90);
  --mainpink: rgb(194, 133, 211);
  --maingrey: rgba(49, 52, 61, 1);
  --dark: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
}

body {
  color: var(--mainblue);
  background-color: var(--light);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 2;
}

h1,
h2,
h3 {
  margin: 0;
}


header {
  background-color: var(--light);
  padding: 15px;
  display: flex;
  /* defines direction */
  flex-direction: row;
  /* aligns items horizontally/ with equal space between them*/
  justify-content: space-between;
  /* items wrap to addtional lines */
  flex-wrap: wrap;
  align-items: center;
  /* background-color: var(--maingrey); */
}

/* Jaime Marsh h1 */
header h1 {
  color: var(--mainpink);
  text-shadow: 2px 2px 2px var(--mainblue);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 50px;
  line-height: 1;
}

/* nav links */
nav a {
  /* remove blue link feature */
  text-decoration: none;
  padding: 10px;
  color: var(--mainpink);
  text-shadow: 2px 2px 2px var(--mainblue);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 25px;
}

nav a:hover {
  background-size: 100%;
  color: var(--mainblue);
}

.subtitle {
  background-image: url("../images/purplewaves.jpg"), linear-gradient(180deg, var(--mainblue) 0%, var(--mainpink) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--light);
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.subtitle div {
  flex: 0 0 90%;
}

.subtitle h2 {
  text-shadow: 8px 8px 5px var(--mainblue);
  color: var(--mainpink);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

/* About me- Contact me */
main {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

/* About me- HTML/CSS */
.sections {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.sections h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 5px solid var(--mainblue);
  text-shadow: 2px 2px 2px var(--mainpink);
  font-size: 50px;
  line-height: 2;
}

.sections div {
  flex: 0 0 77%;
}

.sections p {
  margin-bottom: 30px;
}

/* Middle section with images */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--mainpink);
  background-color: var(--mainblue);
  color: var(--maingrey);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 20px;
  margin: 5px;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.3s;
  font-size: 20px;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(102, 0, 255, 0.3);
}

.flex-item div {
  background-color: var(--mainpink);
  padding: 10px;
}

.flex-item h3 {
  font-size: 30px;
}


/* Contact Info */

.contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact-me address a {
  color: var(--mainpink);
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  /* background-image: linear-gradient(180deg, var(--mainpink) 0%, var(--mainpink) 100%); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 10px;
  display: inline-block;
}

.contact-me address a:hover {
  background-size: 100% 88%;
  color: var(--mainblue);
}

/* images */

.surf-report {
  background-image: url("../images/placeholder.jpg");
}

.node-IoT {
  background-image: url("../images/placeholder.jpg");
}

.react-javascript-css {
  background-image: url("../images/placeholder.jpg");
}

.MREN-stack {
  background-image: url("../images/placeholder.jpg");
}

.html-css {
  background-image: url("../images/placeholder.jpg");
}




@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .sections h2,
  .sections div {
    flex: 0 0 100%;
  }

  .sections h2 {
    border-right: none;
    border-bottom: 4px solid var(--mainblue);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .subtitle {
    justify-content: center;
    text-align: center;
  }

  .contact-me address {
    flex-direction: column;
    align-items: flex-start;
  }
}