* {
  box-sizing: border-box;
}

/* variables */
:root {
  --main: rgb(50, 50, 50);
  --accent: rgb(88, 179, 93);
  --dark: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
  --font: "Forum""sans-serif";
}

body {
  color: var(--main);
  background-color: var(--light);
  font-family: var(--font);
  line-height: 2;
}

h1,
h2,
h3 {
  margin: 0;
}

#aboutme,
#work {
  display: none;
}


header {
  background-color: var(--light);
  padding: 15px;
  display: flex;
  /* defines direction */
  flex-direction: row;
  /* aligns items horizontally/ with equal space between them*/
  justify-content: space-between;
  /* items wrap to addtional lines */
  flex-wrap: wrap;
  align-items: center;
}

header {
  background-color: var(--accent);
}

/* Jaime Marsh h1 */
h1 {
  color: var(--main);
  margin: 5px;
  font-size: 50px;
  line-height: 1;
}



/* introBox is flexbox for Hello Im Jaime Marsh and Img */
.introBox {
  color: var(--main);
  display: flex;
  align-content: stretch;
  border: solid var(--accent);
  border-radius: 25px;
  margin: 2% 10% 0% 10%;
  padding: 50px;
  font-size: 50px;
  line-height: 1;
}

img {
  border-radius: 50%;
}

/* introCol is flexbox for box and hello (Hello Im Jaime Marsh) */
.introCol {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* colors of boxes helps show what is what */
/* Hello */
.hello {
  text-indent: 10%;
  /* border: solid green; */
  color: var(--accent);
  font-size: 30px;
}

/* Im Jaime Marsh */
.box {
  /* border: solid blue; */
  margin: auto;
}

/* box around Img */
.imgBox {
  /* border: solid red; */
  margin-left: 10%;
  padding-right: 5%;
}

nav {
  font-size: 25px;
}

/* nav links */
nav a {
  padding: 25px;
  text-decoration: none;
  color: var(--dark);
  /* margin: 160px; */
}

nav a:hover {
  background-size: 100%;
  color: var(--light);
}


/* .subtitle { */
/* background-image: url("../images/purplewaves.jpg"), linear-gradient(180deg, var(--main) 0%, var(--accent) 100%); */
/* background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 40vh;
  color: var(--light);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
} */

.subtitle div {
  flex: 0 0 90%;
}

.subtitle h2 {
  color: var(--accent);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

/* About me- Contact me */
main {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

/* About me- HTML/CSS */
.sections {
  background-color: var(--light);
  margin: 20px 0;
  padding: 2% 5% 2% 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  justify-content: space-between;
}

.sections h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 10px;
  border-right: 5px solid var(--accent);
  font-size: 45px;
  line-height: 2;
}

.sections div {
  flex: 0 0 77%;
}

p {
  margin-bottom: 30px;
  font-size: 23px;
  text-align: justify;
}

/* Middle section with images */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--accent);
  background-color: var(--main);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 20px;
  margin: 5px;
  text-decoration: none;
  /* background-blend-mode: soft-light; */
  background-size: 150%;
  transition: all 0.3s;
  font-size: 20px;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: var(--white);
}

.flex-item div {
  background-color: var(--accent);
  padding: 10px;
}

.flex-item h3 {
  font-size: 30px;
  color: var(--light)
}

.flex-item span {
  color: var(--dark)
}

/* Contact Info */

.contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact-me address a {
  color: var(--main);
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
}

.contact-me address a:hover {
  color: var(--accent);
}

.iconAddress {
  color: var(--accent);
  padding: 10px;
}

/* images */

/* .surf-report {
  background-image: url("../images/placeholder.jpg");
}

.node-IoT {
  background-image: url("../images/placeholder.jpg");
}

.react-javascript-css {
  background-image: url("../images/placeholder.jpg");
}

.MREN-stack {
  background-image: url("../images/placeholder.jpg");
}

.html-css {
  background-image: url("../images/placeholder.jpg");
} */




@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .sections h2,
  .sections div {
    flex: 0 0 100%;
  }

  .sections h2 {
    border-right: none;
    border-bottom: 4px solid var(--accent);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .subtitle {
    justify-content: center;
    text-align: center;
  }

  .contact-me address {
    flex-direction: column;
    align-items: flex-start;
  }
}